  <h1> Welcome to Super Rentals </h1>

  We hope you find exactly what you're looking for in a place to stay.

{{#list-filter filter=(action 'filterByCity') as |rentals|}}
  <ul>
    {{#each rentals as |rental|}}
    
       {{rental-tile rental=rental destroyRental="destroyRental"}}
    {{/each}}
  </ul>
{{/list-filter}}
  {{new-rental saveRental="saveRental"}}
